












/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Navigation */

       <style id="relin-highlight">relin-highlight relin-origin ruby rt {
        font-size: 12px;
      }
    .relin-ftt-target[data-mode="dual"] {
      opacity: 0.7!important;
    }
      relin-hc relin-highlight relin-target{
      opacity: 0.7!important;
    }
  relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-highlight relin-origin {
          color: #f33076!important;
          opacity: 0.85;
          transition: all 0.2s ease;
          text-shadow: 0 0 0.5px rgba(0,0,0,0.1);
        }
        relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, #f3307640 30%);
          border-bottom: none !important;
          transition: all 0.2s ease;
        }
        relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-mark {
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-mark relin-origin {
          color: inherit !important;
          border-bottom: none !important;
          background: linear-gradient(120deg,
            rgba(243, 48, 118, 0) 0%,
            rgba(243, 48, 118, 0.03) 10%,
            rgba(243, 48, 118, 0.10) 20%,
            rgba(243, 48, 118, 0.14) 30%,
            rgba(243, 48, 118, 0.14) 70%,
            rgba(243, 48, 118, 0.10) 80%,
            rgba(243, 48, 118, 0.03) 90%,
            rgba(243, 48, 118, 0) 100%) !important;
          box-shadow: 0 0 1px rgba(243, 48, 118, 0.05);
          transition: all 0.3s ease;
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-mark::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: inherit;
          z-index: -1;
          transform: skewX(-3deg);
          transition: inherit;
        }
        relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-mark:hover relin-origin {
          background: linear-gradient(120deg,
            rgba(243, 48, 118, 0) 0%,
            rgba(243, 48, 118, 0.06) 10%,
            rgba(243, 48, 118, 0.15) 20%,
            rgba(243, 48, 118, 0.20) 30%,
            rgba(243, 48, 118, 0.20) 70%,
            rgba(243, 48, 118, 0.15) 80%,
            rgba(243, 48, 118, 0.06) 90%,
            rgba(243, 48, 118, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-mark relin-origin {
          background: linear-gradient(120deg,
            rgba(243, 48, 118, 0) 0%,
            rgba(243, 48, 118, 0.40) 10%,
            rgba(243, 48, 118, 0.50) 20%,
            rgba(243, 48, 118, 0.60) 30%,
            rgba(243, 48, 118, 0.60) 70%,
            rgba(243, 48, 118, 0.50) 80%,
            rgba(243, 48, 118, 0.40) 90%,
            rgba(243, 48, 118, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-NOUN.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, rgba(243, 48, 118, 0.8) 75%);
        }
        relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-highlight relin-origin {
          color: #7555ce!important;
          opacity: 0.85;
          transition: all 0.2s ease;
          text-shadow: 0 0 0.5px rgba(0,0,0,0.1);
        }
        relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, #7555ce40 30%);
          border-bottom: none !important;
          transition: all 0.2s ease;
        }
        relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-mark {
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-mark relin-origin {
          color: inherit !important;
          border-bottom: none !important;
          background: linear-gradient(120deg,
            rgba(117, 85, 206, 0) 0%,
            rgba(117, 85, 206, 0.03) 10%,
            rgba(117, 85, 206, 0.10) 20%,
            rgba(117, 85, 206, 0.14) 30%,
            rgba(117, 85, 206, 0.14) 70%,
            rgba(117, 85, 206, 0.10) 80%,
            rgba(117, 85, 206, 0.03) 90%,
            rgba(117, 85, 206, 0) 100%) !important;
          box-shadow: 0 0 1px rgba(117, 85, 206, 0.05);
          transition: all 0.3s ease;
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-mark::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: inherit;
          z-index: -1;
          transform: skewX(-3deg);
          transition: inherit;
        }
        relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-mark:hover relin-origin {
          background: linear-gradient(120deg,
            rgba(117, 85, 206, 0) 0%,
            rgba(117, 85, 206, 0.06) 10%,
            rgba(117, 85, 206, 0.15) 20%,
            rgba(117, 85, 206, 0.20) 30%,
            rgba(117, 85, 206, 0.20) 70%,
            rgba(117, 85, 206, 0.15) 80%,
            rgba(117, 85, 206, 0.06) 90%,
            rgba(117, 85, 206, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-mark relin-origin {
          background: linear-gradient(120deg,
            rgba(117, 85, 206, 0) 0%,
            rgba(117, 85, 206, 0.40) 10%,
            rgba(117, 85, 206, 0.50) 20%,
            rgba(117, 85, 206, 0.60) 30%,
            rgba(117, 85, 206, 0.60) 70%,
            rgba(117, 85, 206, 0.50) 80%,
            rgba(117, 85, 206, 0.40) 90%,
            rgba(117, 85, 206, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-VERB.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, rgba(117, 85, 206, 0.8) 75%);
        }
        relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-highlight relin-origin {
          color: #34a4ab!important;
          opacity: 0.85;
          transition: all 0.2s ease;
          text-shadow: 0 0 0.5px rgba(0,0,0,0.1);
        }
        relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, #34a4ab40 30%);
          border-bottom: none !important;
          transition: all 0.2s ease;
        }
        relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-mark {
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-mark relin-origin {
          color: inherit !important;
          border-bottom: none !important;
          background: linear-gradient(120deg,
            rgba(52, 164, 171, 0) 0%,
            rgba(52, 164, 171, 0.03) 10%,
            rgba(52, 164, 171, 0.10) 20%,
            rgba(52, 164, 171, 0.14) 30%,
            rgba(52, 164, 171, 0.14) 70%,
            rgba(52, 164, 171, 0.10) 80%,
            rgba(52, 164, 171, 0.03) 90%,
            rgba(52, 164, 171, 0) 100%) !important;
          box-shadow: 0 0 1px rgba(52, 164, 171, 0.05);
          transition: all 0.3s ease;
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-mark::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: inherit;
          z-index: -1;
          transform: skewX(-3deg);
          transition: inherit;
        }
        relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-mark:hover relin-origin {
          background: linear-gradient(120deg,
            rgba(52, 164, 171, 0) 0%,
            rgba(52, 164, 171, 0.06) 10%,
            rgba(52, 164, 171, 0.15) 20%,
            rgba(52, 164, 171, 0.20) 30%,
            rgba(52, 164, 171, 0.20) 70%,
            rgba(52, 164, 171, 0.15) 80%,
            rgba(52, 164, 171, 0.06) 90%,
            rgba(52, 164, 171, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-mark relin-origin {
          background: linear-gradient(120deg,
            rgba(52, 164, 171, 0) 0%,
            rgba(52, 164, 171, 0.40) 10%,
            rgba(52, 164, 171, 0.50) 20%,
            rgba(52, 164, 171, 0.60) 30%,
            rgba(52, 164, 171, 0.60) 70%,
            rgba(52, 164, 171, 0.50) 80%,
            rgba(52, 164, 171, 0.40) 90%,
            rgba(52, 164, 171, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-ADJ.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, rgba(52, 164, 171, 0.8) 75%);
        }
        relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-highlight relin-origin {
          color: #5cb206!important;
          opacity: 0.85;
          transition: all 0.2s ease;
          text-shadow: 0 0 0.5px rgba(0,0,0,0.1);
        }
        relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, #5cb20640 30%);
          border-bottom: none !important;
          transition: all 0.2s ease;
        }
        relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-mark {
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-mark relin-origin {
          color: inherit !important;
          border-bottom: none !important;
          background: linear-gradient(120deg,
            rgba(92, 178, 6, 0) 0%,
            rgba(92, 178, 6, 0.03) 10%,
            rgba(92, 178, 6, 0.10) 20%,
            rgba(92, 178, 6, 0.14) 30%,
            rgba(92, 178, 6, 0.14) 70%,
            rgba(92, 178, 6, 0.10) 80%,
            rgba(92, 178, 6, 0.03) 90%,
            rgba(92, 178, 6, 0) 100%) !important;
          box-shadow: 0 0 1px rgba(92, 178, 6, 0.05);
          transition: all 0.3s ease;
          position: relative;
        }
        relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-mark::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: inherit;
          z-index: -1;
          transform: skewX(-3deg);
          transition: inherit;
        }
        relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-mark:hover relin-origin {
          background: linear-gradient(120deg,
            rgba(92, 178, 6, 0) 0%,
            rgba(92, 178, 6, 0.06) 10%,
            rgba(92, 178, 6, 0.15) 20%,
            rgba(92, 178, 6, 0.20) 30%,
            rgba(92, 178, 6, 0.20) 70%,
            rgba(92, 178, 6, 0.15) 80%,
            rgba(92, 178, 6, 0.06) 90%,
            rgba(92, 178, 6, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-mark relin-origin {
          background: linear-gradient(120deg,
            rgba(92, 178, 6, 0) 0%,
            rgba(92, 178, 6, 0.40) 10%,
            rgba(92, 178, 6, 0.50) 20%,
            rgba(92, 178, 6, 0.60) 30%,
            rgba(92, 178, 6, 0.60) 70%,
            rgba(92, 178, 6, 0.50) 80%,
            rgba(92, 178, 6, 0.40) 90%,
            rgba(92, 178, 6, 0) 100%) !important;
        }
        .relingo-caption relin-hc relin-highlight.relingo-pos-ADV.relingo-pos-underline relin-origin {
          background: linear-gradient(to bottom, transparent 60%, rgba(92, 178, 6, 0.8) 75%);
        }
        </style>



/* Active nav link highlighting */
body.home .nav-links a[href="index.html"],
body.about .nav-links a[href="about.html"],
body.contact .nav-links a[href="contact.html"] {
  border-bottom: 2px solid #fff;
  padding-bottom: 0.2rem;
}






header {
  background: #111;
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}



.nav-links a {
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}




project-folder/
│── index.html
│── about.html
│── contact.html
│── header.html
│── footer.html
│── styles.css
│── script.js


















/* Hero */
.hero {
  background: #f4f4f4;
  padding: 4rem 2rem;
  text-align: center;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero button {
  padding: 0.7rem 1.5rem;
  border: none;
  background: #111;
  color: #fff;
  cursor: pointer;
}

/* Content */
.container {
  padding: 2rem;
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}









/* Mobile menu icon */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 100%;
    display: none;
    text-align: center;
  }

  .nav-links li {
    padding: 1rem 0;
  }

  /* Show menu when checkbox is checked */
  #menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
  }

  .hero h2 {
    font-size: 1.8rem;
  }

  .hero {
    padding: 3rem 1.5rem;
  }
}




/* Page fade-in animation */
body {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/* Page slide animation */
.page {
  animation: slideIn 0.4s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-out {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.3s ease;
}

/* Scroll reveal */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Footer socials */
.socials {
  margin-top: 0.5rem;
}

.socials a {
  color: white;
  margin: 0 0.5rem;
  text-decoration: none;
}


body.home a[href="index.html"],
body.about a[href="about.html"],
body.contact a[href="contact.html"] {
  border-bottom: 2px solid white;
}





























